.content
  %h1.title Screenings for Life: An Awareness Campaign
  %p
    Because one out of eight women will develop breast cancer during her life we believe it is important to educate
    women about Breast Health and Breast Cancer Prevention.  Breast Cancer is a very treatable and curable disease if
    it is detected early enough.  Mammography, along with monthly breast self-exams and annual physical exams, are
    important to the early detection of this disease.  We hope that the information provided here and on our
    %a{:href => "http://www.screeningsforlife.com/index2.php", :target => "_blank"} website
    will encourage women to learn the importance of taking care of their breast health.  Our
    %a{:href => "http://www.screeningsforlife.com/index2.php", :target => "_blank"} website
    contains breast cancer survivor stories, local resources for Tucson, AZ and important breast information that will
    help educate and increase your awareness of the need for annual breast exams.
    %a{:href => "http://www.radltd.com", :target => "_blank"} Radiology Ltd
    is committed to reducing the incidences of breast cancer in our community.
