.content
  %h1.title Mammo Giveaway Rules
  %p
    Playing is easy:
    %ul
      %li Submit what you're thankful for in the form provided.
      %li All submissions must be recieved by November 30, 2011.
      %li A winner will be drawn and announced on December 1, 2011.
  %p
    Rules for the free mammogram:
    %ol
      %li The gift certificate is good for one free screening mammogram at Radiology Ltd.
      %li The gift certificate is good for one year and will expire on December 1, 2012.
      %li The gift certificate may be used by you or given as a gift to another person.
      %li A referral from a physician is required in order to schedule this screening mammogram.
